@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:800|Montserrat:100i,400|Playfair+Display:900');

$title: Playfair Display, serif;
$paragraph: Montserrat, sans-serif;
$logo__letter: Montserrat Alternates, sans-serif;